html {
    min-height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 15% 0;
    background-color: #fdfcf7;
    font-family: 'Playfair Display', serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.h3Title {
  font-size: 2em;
}

.pDescription {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}

.normalBtn {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

.cardTitle {
  font-size: 1.5em;
}

.h4Title {
  font-size: 1.5em;
}

.contactP {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}

.h3Title, .pDescription, .normalBtn, .h4Title {
  text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.setPadding {
    padding: 20% 7% 10%;
}

/* navbar */
.navbar-brand img {
    border-radius: 50%;
    margin-right: 10px;
}
.navbar-toggler {
    background-color: rgb(131, 8, 8);
    padding: 1px 6px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #f5c5c7;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
  color: white;
  border: 1px solid white;
  padding: 0.8em 1.6em;
  border-radius: 10px;
}
.colorNav button:focus {
  outline-color: rgba(0,0,0,.1);
}
/* override bootstrap navbar colors 
override background image gradient w/ flat color */
/*.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; 
} */
.colorNav {
    background-color: rgb(131, 8, 8);
}
.colorNav .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    align-items: flex-end;
}

.navContainer {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
}
.navContainer a {
    color: white;
    padding-right: 5px;
}

/* Recruitment  */
.recruitment {
    color: #453a3c;
    background-color: #F5F5F5;
    margin-top: 5px;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
}

.recruitment a {
    text-decoration-line: underline;
    text-decoration-color: #453a3c;
    color: #453a3c;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* .applyBtn {
  font-size: 0.7em;
  color: white;
  background-color: #453a3c;
  border-radius: 5px;
  border-style: none;
  padding: 0.5em 1em;
} */

/* Carousel */
.carousel-item img {
    padding-top: 36vh;
}
.carousel-caption {
    top: 1em;
    color: black;
    padding-top: 0;
}
.carousel-control-next,
.carousel-control-prev {
    bottom: -36vh;
}

/* Button Browse  */
.btn-primary {
    background-color: #830808;
    border-color: #830808;
}
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    background-color: #47AEA0;
    border-color: #47AEA0;
}

/* triangle white bg */
/* .triangleBg {
    z-index: 1000;
    position: absolute;
    height: 10px;
    width: 0;
    border-bottom: 60px solid transparent;
}
.sam1 {
    top: 41%;
    border-left: 600px solid #fdfcf7;
}
.sam2 {
    top: 43.5%;
    border-right: 600px solid #fdfcf7;
    height: 70px;
} */

/* carousel indicators */

.carousel-indicators li {
    background-color: white;
    opacity: 1;
    height: 7px;
}
.carousel-indicators .active {
    background-color: #47AEA0;
}

.actionBtn {
    font-family: 'Roboto', sans-serif;
    background-color: #47AEA0;
    border-color: #47AEA0;
    font-size: 1.3em;
    width: 100%;
}

.centerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5em 8%;
}

.ourServices {
  padding: 20% 10% 10%;
}


.ourServices p {
  padding: 0.5em;
  margin: 0;
}

.ourCompany p{
  padding: 0.5em;
  margin: 0;
}

.ourCompany .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0.6em;
}
.extraPadding {
    padding-bottom: 20%;
}

.roundImage {
    width: 200px;
    height: 200px;
}

.imageXs {
    width: 75px;
    height: 75px;
}

.extraBorder {
    border-left: 1px solid #212529;
    border-right: 1px solid #212529;
}

.youTube {
    width: 100%;
    height: auto;
    padding: 10% 0;
}

.centerText {
    padding-bottom: 10%;
}

.locationMap {
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.myMap.col {
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: 4px 6px 10px #aaaaaa;
    width: 100%;
    height: 350px;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 15%;
}

.myMap Iframe {
    border-radius: 0.3em;
    border: 1px solid transparent;
}

.setFlex {
    display: flex;
    flex-direction: column;
}
.setRow {
    display: flex;
    flex-direction: column;
}

.clientsProfile {
  justify-content: space-around;
}

.cardLayout {
    padding: 1.25rem 0 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 10%;
}

.cardLayout .youTube {
  padding: 0.5rem 0 0;
}
.ourCompany .cardLayout {
  padding: 0;
  margin-top: 1.25rem;
}

.ourCompany .youTube {
  padding: 0;
}


.ourClients p {
  padding: 0.5em;
  margin-bottom: 0;
}

.ourClients .cardLayout {
  padding-top: 0;
}
.setCol {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    padding-left: 5px;
    padding-bottom: 2em;
    align-items: center;
    text-align: left;
}

.setCol p {
    margin-bottom: 0;
}

.setThumnail {
    height: 2em;
    padding-right: 10px;
}

.footer {
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    color: white;
    background-color: #830808;
    padding: 10px;
    width: 100%;
    margin-left: 0;
}

.removePadding {
  padding: 0;
}