html {
  min-height: 100%;
  overflow-y: scroll;
}   

body {
    height: 100vh;
    margin: 15% 0;
    background-color: #fdfcf7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.setPadding {
  padding: 10% 10% 20%;
}

/* navbar */
.colorNav {
    background-color: #830808;
}
.colorNav .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    align-items: flex-end;
}

/* Carousel */
.carousel-item img {
    padding-top: 45vh;
}
.carousel-caption {
    top: 1em;
    color: black;
}
.carousel-control-next,
.carousel-control-prev {
    bottom: -45vh;
}

/* Button Browse  */
.btn-primary {
    background-color: #830808;
    border-color: #830808;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle, 
.btn-primary.focus, .btn-primary:focus,
.btn-primary:hover {
  background-color: #fc1414;
  border-color: #fc1414;
}

/* triangle white bg */
.triangleBg {
  z-index: 1000;
  position: absolute;
  height: 10px;
  width: 0;
  border-bottom: 60px solid transparent;
}
.sam1 {
  top: 47%;
  border-left: 600px solid #fdfcf7;
}
.sam2 {
  top: 49.5%;
  border-right: 600px solid #fdfcf7;
  height: 70px;
}


/* carousel indicators */

.carousel-indicators li {
  background-color: white;
  opacity: 1;
  height: 7px;
}
.carousel-indicators .active {
  background-color: #47AEA0;
}

.moreProducts, .getStarted {
  background-color: #47AEA0;
  border-color: #47AEA0;
  font-size: 1.3em;
}

.moreProducts {
  width: 100%;
}

.getStarted {
  width: 70%;
}

.centerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15%;
}

.extraPadding {
  padding-bottom: 25%;
}

.centerImage p {
  width: 70%;
  text-align: center;
}
.roundImage {
  width: 200px;
  height: 200px;
}

.imageXs {
  width: 75px;
  height: 75px;
}

.extraBorder {
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
}

.youTube {
  width: 300px;
  height: auto;
  padding: 10% 0;
}

.centerText {
  text-align: center;
  padding-bottom: 10%;
}

.locationMap {
  text-align: center;
  padding-bottom: 10%;
}
.myMap.col {
  border: 1px solid transparent;
  border-radius: 0.3em;
  box-shadow: 4px 6px 10px #aaaaaa;
  width: 100%;
  height: 300px;
  padding: 0;
}

.myMap Iframe {
  border-radius: 0.3em;
  border: 1px solid transparent;
}

.setFlex {
  display: flex;
  flex-direction: column;
}
.setRow {
  display: flex;
  flex-direction: column;
}

.setCol {
  display: flex;
  flex-direction: row;
  padding-right: 0;
  padding-left: 5px;
  padding-bottom: 2em;
  align-items: center;
  text-align: left;
}

.setCol p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.setThumnail {
  height: 2em;
  padding-right: 10px;
}

.footer {
  font-size: 0.8em;
  font-weight: 100;
  text-align: center;
  color: white;
  background-color: #830808;
  padding: 10px;
  width: 100%;
}