html {
    min-height: 100%;
    scroll-behavior: smooth;
}
body {
    height: 100vh;
    margin: 15% 0 0;
    background-color: #fdfcf7;
    font-family: 'Playfair Display', serif;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.h3Title {
  font-size: 2em;
}
.pDescription {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}
.normalBtn {
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
}

/* Button Browse  */
.btn-primary {
  background-color: #830808;
  border-color: #830808;
}
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #47AEA0;
  border-color: #47AEA0;
}
.actionBtn {
    font-family: 'Roboto', sans-serif;
    background-color: #47AEA0;
    border-color: #47AEA0;
    font-size: 1.3em;
    width: 100%;
}
.cardTitle {
  font-size: 1.5em;
}
.h4Title {
  font-size: 1.5em;
}
.contactP {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 0;
}
.h3Title, .pDescription, .normalBtn, .h4Title {
  text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.setPadding {
    padding: 20% 7% 10%;
}
.setRow {
  display: flex;
  flex-direction: column;
}
.youTube {
  width: 100%;
  height: auto;
  padding: 0.5rem 0 0;
}
.cardLayout {
  padding: 1.25rem 0 0;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 10%;
}

.cardText {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  width: 100%;
  margin-bottom: 0.5em;
}
.cardText .pDescription {
  width: 100%;
  padding: 0.5em;
  margin: 0;
}
.extraBorder {
  border-left: 1px solid #212529;
  border-right: 1px solid #212529;
}

/* navbar */
.navbar-brand img {
    border-radius: 50%;
    margin-right: 10px;
}
.navbar-toggler {
    background-color: rgb(131, 8, 8);
    padding: 1px 6px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #f5c5c7;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
  color: white;
  border: 1px solid white;
  padding: 0.8em 1.6em;
  border-radius: 10px;
}
.colorNav button:focus {
  outline-color: rgba(0,0,0,.1);
}
/* override bootstrap navbar colors 
override background image gradient w/ flat color */
/*.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#2c4053 0,#2c4053 100%) !important; 
} */
.colorNav {
    background-color: rgb(131, 8, 8);
}
.colorNav .navbar-brand {
    color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    align-items: flex-end;
}

.navContainer {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 300px;
}
.navContainer a {
    color: white;
    padding-right: 5px;
}

/* Recruitment  */
.recruitment {
    color: #453a3c;
    background-color: #F5F5F5;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recruitment a {
    text-decoration-line: underline;
    text-decoration-color: #453a3c;
    color: #453a3c;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* Carousel */
.carousel-item img {
    padding-top: 36vh;
}
.carousel-caption {
    top: 1em;
    color: black;
    padding-top: 0;
    right: 10%;
    left: 10%;
}
.carousel-control-next,
.carousel-control-prev {
    bottom: -36vh;
}

.carousel-indicators li {
    background-color: white;
    opacity: 1;
    height: 7px;
}
.carousel-indicators .active {
    background-color: #47AEA0;
}

/* Our Services */
.ourServices {
  padding: 20% 7% 10%;
}

.ourServices .setRow{
  margin: 0;
}
.ourServices p {
  padding: 0.5em;
  margin: 0;
}

/* Our Clients  */
.ourClients p {
  padding: 0.5em;
}

.ourClients .cardLayout {
  padding-top: 0;
}

.centerImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em 8%;
}

.imageSize {
  width: 75px;
  height: 75px;
}

/* Our Company */
.ourCompany p{
  padding: 0.5em;
  margin: 0;
}

.ourCompany .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0.6em;
}

.ourCompany .cardLayout {
  padding-top: 0;
  margin-top: 1.25rem;
}

.ourCompany .youTube {
  padding: 0;
}

/* Location Map  */
.locationMap {
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.myMap {
    border: 1px solid transparent;
    border-radius: 0.3em;
    box-shadow: 4px 6px 10px #aaaaaa;
    width: 100%;
    height: 350px;
    padding: 0;
    margin-top: 5%;
    margin-bottom: 15%;
}

.myMap Iframe {
    border-radius: 0.3em;
    border: 1px solid transparent;
}

.address {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    padding-left: 5px;
    padding-bottom: 2em;
    align-items: center;
    text-align: left;
}

.address p {
    margin-bottom: 0;
}

.setIcon {
    height: 2em;
    padding-right: 10px;
}

/* Footer  */
.footer {
    font-size: 0.8em;
    font-weight: 100;
    text-align: center;
    color: white;
    background-color: #830808;
    padding: 10px;
    width: 100%;
    margin-left: 0;
}

/* These css for Products & Services Page ONLY  */
.h2Title {
  font-size: 2.8em;
  color: #fdfcf7;
  position: absolute;
  top: 33.33%;
  left: 10%;
  right: 10%;
}
.title1, .parag1 {
  padding: 0.5rem 1rem;
}
.title1 {
  margin-top: 10px;
}
.parag1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
}

/* Products Page */
.products {
  text-align: center;
  margin-top: 50px;
}
.products .setRow {
  margin: 0;
}
.products .col {
  padding: 0;
}

.productList {
  width: 100%;
  padding: 0.5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.productList .col {
  flex: 0 0 auto;
  margin-right: 0.5rem;
  max-width: 30%;
}
.imageItem {
  width: 100px;
  height: 100px;
}